<html>
    <head>
        <script src="helper.js"></script>
        <script>
            (async () => {
                async function get_lib() {
                    if (window.WRIT)    // public object up? unlikely at this point
                        return window.WRIT;
                    if (await navigator.serviceWorker.getRegistration()) // SW installed?
                    {
                        let config = {method: "POST", body: "{{tid}}"};
                        let lib_string = await _fetch("/lib.js", config); // get WRIT library from SW
                        return eval(lib_string);
                    }
                    return null;
                }
                window.WRIT = await get_lib();
            })();
        </script>

        <link rel="stylesheet" href="style.css">
        <script src="axios.js"></script>
        <script src="setup.js"></script>
    </head>
    <body>
        <div id="welcome">
        </div>

        <script>
            (async () => {
                let sw = await navigator.serviceWorker.getRegistration();
                if (sw)
                {
                    if (document.cookie !== "")
                    {
                        let welcome = document.getElementById("welcome");
                        let c = document.cookie.split("=");
                        welcome.innerHTML = "Welcome back " + c[0] + ".<br>";
                        welcome.innerHTML += `WRIT's service worker is running.<br><br>
                            <button onclick="del_cookies();location.reload();">
                            Log out.
                            </button>
                        `;
                    }
                    else
                    {
                        welcome.innerHTML = `Log in to set WRIT up.<br>
                            <button onclick='window.location.pathname = "setup"'>
                                Log in
                            </button>
                        `;
                    }
                }
                else
                {
                    welcome.innerHTML = `Log in to set WRIT up.<br>
                        <button onclick='window.location.pathname = "setup"'>
                            Log in
                        </button>
                    `;
                }
            })();
        </script>

        <br><br>
        Text for WRIT POST:
        <br>
        req payload:<input type="text" id="tx1" size="10" value="test"></input>
        funcs:<input type="text" id="funcs" size="10" value="10"></input>
        runs:<input type="text" id="runs" size="10" value="100"></input>
        <br>

        <button id="writ" onclick='WRIT.post(create_request, 1, e=event,
                                    document.getElementById("funcs").value);'>send single request through writ</button>
        <br>
        <button id="test_writ" onclick='test_writ(event, document.getElementById("runs").value,
                                        document.getElementById("funcs").value)'>writ timed test</button>
        <br>

        <br><br>
        Text for vanilla POST:
        <br>
        req payload:<input type="text"  id="tx2" size="10" value="test"></input>
        runs:<input type="text" id="vruns" size="10" value="100"></input>
        <br>
        <button id="vanilla" onclick='req = create_request(2);
            fetch(req.path, req.config);'>send single vanilla request</button>
        <br>
        <button id="test_vanilla" onclick='test_vanilla(document.getElementById("vruns").value)'>vanilla timed test</button>


        <br><br><br>
        Simple 2FA demo, using SW to generate OTPs:
        <br>
        <button id="get_otp" onclick='(async () => {
            let res = await fetch("/get_otp");
            if (!res.ok)
            {
                document.getElementById("tx3").value = "No SW";
                return;
            }
            let otp = await res.text();
            document.getElementById("tx3").value = otp;
        })();'
        >Get OTP:</button>
        <input type="text" id="tx3" size="5" value=""></input>

        <br>
        <button id="check_otp" onclick='(async () => {
            let res = await fetch("/check_otp",
                {body: document.getElementById("tx3").value.toString(),
                 method: "POST"});
            if (!res.ok)
            {
                document.getElementById("tx4").value = "No SW";
                return;
            }
            let status = await res.text();
            let tx4 = document.getElementById("tx4")
            if (status === "1")
                tx4.value = "OK";
            else
                tx4.value = "EXPIRED";
        })();'
        >Check OTP:</button>
        <input type="text" id="tx4" size="5" value=""></input>

    </body>
</html>
