<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="seedrandom.js"></script>
        <script src="axios.js"></script>
        <script src="setup.js"></script>
    </head>
    <body>
        <div id="welcome">
        </div>

        <script>
            (async () => {
                let sw = await navigator.serviceWorker.getRegistration();
                if (sw)
                {
                    if (document.cookie !== "")
                    {
                        let welcome = document.getElementById("welcome");
                        let c = document.cookie.split("=");
                        welcome.innerHTML = "Welcome back " + c[0] + ".<br>";
                        window.WRIT = await get_lib();
                        welcome.innerHTML += `WRIT's service worker is running.<br><br>
                            <button onclick="del_cookies();location.reload();">
                            Log out.
                            </button>
                        `;
                    }
                    else
                    {
                        welcome.innerHTML = `Log in to set WRIT up.<br>
                            <button onclick='window.location.pathname = "setup"'>
                                Log in
                            </button>
                        `;
                    }
                }
                else
                {
                    welcome.innerHTML = `Log in to set WRIT up.<br>
                        <button onclick='window.location.pathname = "setup"'>
                            Log in
                        </button>
                    `;
                }
            })();
        </script>

        <!-- <br><br>Number of functions:<br>
        <textarea id="tx2" rows="2" cols="5">10</textarea><br><br> -->

        <br><br>
        Text for WRIT POST:
        <br>
        <input id="tx1" rows="5" cols="20" value="writ"></input>
        <br>

        <button id="writ" onclick='WRIT.post(create_request, 1, e=event);'>Send</button>
        <br>

        <br><br>
        Text for vanilla POST:
        <br>
        <input id="tx2" rows="5" cols="20" value="vanilla"></input>

        <br>
        <button id="vanilla" onclick='req = create_request(2);
            fetch(req.path, req.config);'>Send</button>

    </body>
</html>
